@media only screen and (max-width: 1920px) and (min-width: 1445px) {
	.container {
		max-width: 1600px;
	}
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1445px) {
	html {
		font-size: 15px;
	}

	.main_banner.padd-y {
		padding-bottom: 34rem;
	}

	.main_banner_content h1 {
		font-size: 4.75rem;
	}

	.heading {
		font-size: 3rem;
	}

	.photoshoot-card {
		height: 500px;
	}

	.footer-links__contact {
		gap: 3rem;
	}
}

@media only screen and (max-width: 1366px) {
	html {
		font-size: 14px;
	}

	.main_banner.padd-y {
		padding-bottom: 35rem;
	}

	.main_banner_content h1 {
		font-size: 4.25rem;
	}

	.padd-y {
		padding: 4rem 0;
	}

	.testimonial_content h3,
	.testimonial_content h3 span {
		font-size: 2.125rem;
	}
}

@media (max-width: 1199.98px) {
	html {
		font-size: 13px;
	}

	.main_banner.padd-y {
		padding-bottom: 27rem;
	}

	.main_banner_content h1 {
		font-size: 4rem;
	}

	.grid-item.is--customers-item {
		height: 52rem;
		top: 1rem;
	}

	.heading {
		font-size: 2.75rem;
	}

	.subHeading {
		font-size: 1.375rem;
	}

	.footer-download {
		flex-direction: column;
	}

	.footer-download__app {
		justify-content: space-between;
	}

	.footer-download__payment h3 {
		text-align: left;
	}

	.footer-links__contact {
		gap: 1rem;
	}
}

@media (max-width: 991.98px) {
	html {
		font-size: 12px;
	}

	.main_banner.padd-y {
		padding-bottom: 23rem;
	}

	.main_banner_content h1 {
		font-size: 3.75rem;
	}

	.padd-y {
		padding: 3rem 0;
	}

	.testimonial_content h3,
	.testimonial_content h3 span {
		font-size: 2rem;
	}

	.hide--mbl {
		display: none !important;
	}

	.show--mbl {
		display: block;
	}
}

@media (max-width: 767.98px) {
	html {
		font-size: 11px;
	}

	.main_banner.padd-y {
		padding-bottom: 28rem;
	}

	.main_banner_content h1 {
		font-size: 3.5rem;
	}

	.heading {
		font-size: 2.5rem;
	}

	.service_card_img img {
		aspect-ratio: 3 / 2;
	}

	.service_card h4,
	.service_more h4 {
		font-size: 1.75rem;
		margin: 0 0 1rem;
	}

	.quality_section .row:not(:last-child) {
		margin-bottom: 2.25rem;
	}

	.quality_content,
	.work_content,
	.faq_content {
		margin-bottom: 2.25rem;
	}

	.testimonial_content h3,
	.testimonial_content h3 span {
		font-size: 1.75rem;
	}

	.testimonial_img img {
		aspect-ratio: 3 / 2;
		height: auto;
	}

	.testimonial_content {
		padding: 2rem;
	}

	.testimonial_content figure {
		width: 4rem;
		height: 4rem;
		padding: 1em;
	}

	.faq_accordion .accordion-button span {
		margin-right: 1.5rem;
	}

	.faq_accordion .accordion-body {
		padding: 1em 2em;
	}
}

@media (max-width: 575.98px) {
	.main_banner.padd-y {
		padding-bottom: 22rem;
	}

	.main_banner_content h1 {
		font-size: 3.125rem;
	}

	.grid-item.is--customers-item {
		height: 44rem;
	}

	.heading {
		font-size: 2.25rem;
	}

	.service_card h4,
	.service_more h4 {
		font-size: 1.5rem;
	}

	.service_more li a {
		font-size: 1.125rem;
	}
}

@media (max-width: 320.98px) {
	.main_banner.padd-y {
		padding-bottom: 0;
	}

	.main_banner_content h1 {
		font-size: 2.75rem;
	}

	.grid-item.is--customers-item {
		display: none;
	}

	.heading {
		font-size: 2.125rem;
	}

	.service_card h4,
	.service_more h4 {
		font-size: 1.25rem;
	}
}